@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Kustomisasi Scrollbar agar terlihat seperti P5 (Opsional tapi keren) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #111; /* Warna Hitam P5 */
}

::-webkit-scrollbar-thumb {
  background: #D00000; /* Warna Merah P5 */
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #FFE600; /* Warna Kuning saat di-hover */
}