@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Kustomisasi Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #111; 
}

::-webkit-scrollbar-thumb {
  background: #D00000;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #FFE600; 
}